[user]
    email = jonathan.partain@protonmail.com
    name = JonathanPartain
[push]
    autoSetupRemote = true

[alias]
    s = status
    d = diff
    co = checkout
    cob = checkout -b
    del = branch -D
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30

[credential]
    helper = !aws --profile secrets-access codecommit credential-helper $@
    UseHttpPath = true
[pull]
	rebase = true
